
.hdr h1 {
    margin: 0 auto;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.hdr {
    padding: 30px 0 20px 0 ;
    text-align: center;
    background-color: #FFEDD7;
    color: #2a2a2a;
    font-family: 'Georgia', sans-serif;
}

.hdr img {
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 25%;
}

textarea {
    color: #2a2a2a; /* Default text color inside of text box for entry*/
    background-color: #E4CCFF; /* Default background color of text box*/
    border: 2px outset #cda1ff; /* Default border color of text box*/
    padding: 8px;
    font-size: 16px;
}

button {
    margin-left: left;
}

