body {
  background-color: #FFEDD7;
  color: #2a2a2a;
  font-family: 'Georgia', sans-serif;
}

textarea {
  color: #2a2a2a; /* Default text color inside of input fields*/
  background-color: #C7E6FC; /* Default background color of input fields*/
  border: 2px outset #7fcaff; /* Default border color of input fields*/
  padding: 8px;
  font-size: 16px;
}

button {
  color: #fff; /* Text color */
  background-color: #5FA9DF; /* Button color */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div .cooking {
  background-color:aquamarine;
}
