/* Text alignment for input fields */
.login-input-container {
    text-align: left; /* Align text inside input fields to the left */
}

/* Centering other text */
.login-title {
    text-align: center; /* Center text */
}

.input-field {
    width: 300px; /* Set the default width */
    height: 40px; /* Set the default height */
}
